@import "./_mixin.scss";
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 237, 238);
    margin: 0px;
    border-width: 0px;
}

.contain_navbar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 45px;
    background-image: linear-gradient(to right, #b7d2f0 10%, #f8abe8 100%);
    margin: 0px;
    a {
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 10px;
        transition: all 0.2s ease 0s;
        color: rgb(172, 143, 16);
        &:hover {
            color: mistyrose;
        }
    }
    @include MQ (M) {
        .contain_navbar {
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 5px 5px;
        }
    }
}

.container-brand {
    background-size: 100% auto;
    height: 100px;
    background-color: rgb(243, 214, 219);
    border-width: 0px;
    h2 {
        margin: 0px;
        font-weight: bold;
        padding: 40px;
    }
    @include MQ (M) {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px 5px;
        background-color: rgb(243, 214, 219);
    }
}

.container-slogan {
    margin: 0px;
    background-color: gray;
    border: 1px;
    box-shadow: 1px 4px 4px grey;
    &__button {
        display: flex;
        justify-content: center;
        padding: 10px;
        button {
            background-color: rgba(250, 229, 229, 0.973);
            color: rgb(190, 102, 93);
            font-weight: bold;
            margin: 0px;
            border-width: 0px;
            width: 150px;
            font-size: 20px;
            border-radius: 8px;
            transition: all 0.2s ease 0s;
            &:hover {
                color: rgb(238, 153, 234);
            }
        }
    }
}

#idea {
    font-size: 30px;
    font-weight: bold;
    justify-content: left;
    color: moccasin;
    padding: 5px 40px;
}

#site {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: navajowhite;
    padding: 5px 40px;
}

#picture {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    justify-content: right;
    color: powderblue;
    padding: 5px 40px;
}

.container-main {
    display: flex;
    margin: 0px;
}

.container-Enquiry {
    height: auto;
    width: auto;
    border-width: 0px;
    padding: 20px;
    margin: 50px;
    border-radius: 15px;
    background-color: rgb(126, 121, 102);
    h3 {
        font-size: 15px;
        width: 150px;
        margin: 5px;
        height: 20px;
        color: salmon;
        text-align: center;
    }
    input {
        width: 150px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
        border-style: none;
        background-color: rgb(255, 242, 240);
    }
    select {
        width: 150px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-style: none;
        background-color: rgb(255, 242, 240);
    }
}

.container-your-enquiry {
    display: flex;
    flex-direction: column;
    #input-color {
        width: 150px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
        border-style: none;
        background-color: rgb(255, 242, 240);
    }
    #input-detailed-description {
        width: 150px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
        border-style: none;
        background-color: rgb(255, 242, 240);
    }
}

.container-checkbox {
    display: flex;
    align-items: center;
    input {
        width: auto;
        margin: 0px;
        margin-right: 5px;
    }
}

.container-Enquiry__button {
    text-align: center;
    button {
        width: 150px;
        margin-top: 10px;
        border-radius: 10px;
        color: rgb(236, 150, 38);
    }
}

.container-collection__content {
    height: 500px;
    margin: 50px;
    overflow: auto;
    .collection {
        width: 100px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }
    .container-collection__cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        .card {
            border-radius: 20px;
            width: 300px;
            height: auto;
            overflow: hidden;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 1px 4px 4px grey;
            background-color: grey;
            .card-color {
                height: 80px;
                width: 200px;
                padding: 20px 200px;
                transition: all 0.5s ease 0sï¼›;
            }
            .card-content {
                padding: 20px;
                background-color: gray;
                color: white;
                word-break: break-all;
                &__other {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    &--text {
                        width: 70%;
                    }
                    .card-button {
                        border-radius: 15px;
                        width: 25px;
                        height: 25px;
                        font-size: 20px;
                        padding: 0px;
                        border-width: 0px;
                    }
                }
            }
            .card-content {
                p {
                    margin: 0px;
                    width: 80%;
                    height: auto;
                }
                h2 {
                    margin: 0px;
                }
            }
        }
        p {
            width: 320px;
            height: 130px;
            flex-grow: 1;
            margin-left: 30px;
            margin-right: 30px;
            padding: 10px;
            font-weight: bold;
        }
    }
}

.container-people {
    background-color: lightpink;
    padding-bottom: 20px;
    .container-card__content {
        margin: 20px;
        display: flex;
        flex-direction: row;
        .container-card__content__individual {
            display: flex;
            flex-direction: column;
            margin: auto;
            .container-name__banner {
                background-color: mintcream;
                width: 100px;
                text-align: center;
                border-radius: 10px;
                height: 25px;
                h3 {
                    margin: 0px;
                }
            }
            .container-namecard {
                background-color: mintcream;
                width: 100px;
                height: 200px;
                padding-top: 5px;
                margin-top: 5px;
                border-radius: 10px;
                &__color {
                    height: 30px;
                    width: 30px;
                    border-radius: 30px;
                    margin: auto;
                }
                &__content {
                    width: 80px;
                    height: 50px;
                    word-break: break-all;
                    margin-left: 10px;
                }
            }
        }
    }
}

.container-card__detail {
    text-align: center;
    background-color: honeydew;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-detail__content {
        display: flex;
        flex-direction: column;
        height: 120px;
        .card-detail__title {
            height: 30px;
            margin-top: 10px;
            margin-bottom: 0px;
            padding-top: 10px;
        }
        .card-detail__description {
            margin-top: 0px;
            margin-bottom: 20px;
            width: 500px;
        }
    }
}

#result-forum {
    padding: 10px;
    display: none;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}